.card {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    margin-left: 200px;
  }
.video-item{
  margin-top: 25px;
  column-gap: 10px; 
}
.video-item img{
  width: 400px;
  height: 200px;
  border-radius: 20px;
}
.video-item h5{
  font-size: medium;
}
.video-item span{
  font-size: small;
}