*{
   padding: 0px;
   margin: 0px;
   box-sizing: border-box;
   font-family: sans-serif;
}
a{
    text-decoration: none;
}
img{
    cursor: pointer;
}
.flex{
    display: flex;
    align-items: center;
}